.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100%; /* This will make the image responsive */
    max-width: 500px; /* Prevent the image from becoming too large on big screens */
    margin-bottom: 20px;
  }
  
  .record-btn, .send-btn {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .record-btn {
    background-color: #f00;
  }
  
  .send-btn {
    background-color: #00f;
  }
  
  .send-btn:disabled {
    background-color: #aaa;
    cursor: default;
  }
  